body {
    font-family: 'Raleway';
}

.titulo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 73px;
    line-height: 86px;
    text-align: center;
    color: #512A5F; 
}

.subtitulo {
    font-family: 'Raleway';
    font-style: normal; 
    font-weight: 700; 
    font-size: 20px; 
    line-height: 23px; 
    align-content: center; 
    text-align: center; 
    color: #393F42; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.inputs{
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 22px; 
    line-height: 15px;
    color: #393F42; 
}
.campos{
    margin-top: 1rem;
}

.posicion{
    display: flex;
    justify-content: center;
}
.btnEnviar{
    align-content: center;
    background: #A97798; 
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: 18px;
}

.alert{
    background-color: #ecd2f5;
    opacity: 0.6;
    border-color: #ffffff;
    color:  #321b3a;
}

.alertaWarning{
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 10; 
    font-size: 15px; 
    line-height: 15px;
    color: #A97798;
}

.form-control{
    color: #321b3a;
}

.holder{
    background: #F9F9F9; 
    border-radius: 10px; 
    border: none;
    font-family: 'Raleway'; 
    font-style: normal; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 15px; /* or 68% */ 
    color: #C7C7C7
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: 576px) {
    .titulo{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        color: #512A5F; 
    }
    
    .subtitulo {
        font-family: 'Raleway';
        font-style: normal; 
        font-weight: 700; 
        font-size: 20px; 
        line-height: 23px; 
        align-content: center; 
        text-align: center; 
        color: #393F42;
        margin-top: 1rem; 
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    } 

    .inputs{
        font-family: 'Raleway'; 
        font-style: normal; 
        font-weight: 700; 
        font-size: 15px; 
        line-height: 15px;
        color: #393F42; 
    }

    .holder{
        background: #F9F9F9; 
        border-radius: 10px; 
        border: none;
        font-family: 'Raleway'; 
        font-style: normal; 
        font-weight: 700; 
        font-size: 12px; 
        line-height: 15px; /* or 68% */ 
        color: #C7C7C7
    }
    

}
