body, header, footer{
    font-family: 'Raleway';
}
header{
    background: linear-gradient(180deg, rgba(141, 106, 175, 0.81) 22.97%, rgba(73, 12, 134, 0) 100%);
}
.textobg{
    color: white;
    font-size: 25px;
}
.btn {
    color: white;
}

.nav-link{
    font-size: 23px;
    margin-right: 40px;
    font-weight: 700;
}
.text-primary{
    color: #512A5F!important;
}

a.text-primary:focus, a.text-primary:hover {
    color: #837295 !important;
}
.binav{
    font-size: 26px;
}

.prueba{
    display: none;
}
.nav1{
    display: block;
}
.nav2{
    display: none;
}



/* ----FOOTER---------------------------------*/
footer{
    background: linear-gradient(180deg, rgba(190, 162, 218, 0) 4.32%, #B69BD1 63.78%);
    border: 1px solid #FFFFFF;
    margin-bottom: 0%;
}

/*.footer_contacto{ ESTA CLASE SE PUSO POR UN RENGLON EN BLANCO QUE APARECIA EN MONITOR ALAM
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;


    background: linear-gradient(180deg, rgba(190, 162, 218, 0) 4.32%, #B69BD1 63.78%);
    border: 1px solid #FFFFFF;
    margin-bottom: 0%;
}*/

.card-body{
    margin: 0% 0%;
}
.card-footer{
    background-color:  #EEBFFF!important;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.btnSuscribirse{
    width: auto;
    justify-content: center;
    background: #A97798; 
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: 17px;
    margin-top: .1rem;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
}
.inputs{
    justify-content: center;
}


.card-title{
    color: #512A5F;
    font-size: 16px;
    font-weight: 700;
}

/* CARTA 1*/
.car1{
    color: #512A5F;
    font-size: 13px;
    text-align: left;
}
.bi-circle-fill{
    font-size: 5px;
}
.titulo1{
    text-align: center;
}
.col-10{
    padding: 0% 0%;
}


/* CARTA 2*/
.clase1{
    text-align: left;
    color: #512A5F;
    font-size: 13px;
}
.carAten{
    text-align: center;
}


/* CARTE 3*/
.redes{
    justify-content: center;
    font-size: 25px;
    padding: 8px;
    color: #512A5F;
}
.bi:focus, .bi:hover {
    color: #837295 !important;
}
.titulo3{
    text-align: center;
}
.bodysiguenos{
    align-content: center;
    padding: 0% 0%;
}

/* CARTA 4*/


.titulo4{
    text-align: center;
}
.textjv{
    color: #24071a;
    font-weight: 700;
    text-decoration: none;
}
.card{
    background:none;
    border: none;
}


/*
.bi{
    color: #512A5F;
}

.bi:focus, .bi:hover {
    color: #837295 !important;
}

.card-body, .card-text{
    color: #512A5F;
    font-size: 13px;
    justify-content: center;
    align-content: center;
}

.form-control{
    align-content: center;
    background: #ffffff; 
    border-radius: 10px; 
}

.textjv{
    color: #24071a;
    font-weight: 700;
    text-decoration: none;
}


.btnSuscribirse{
    margin-left: 20px;
}

*/

@media screen and (max-width: 576px) {

    header{
        background: linear-gradient(180deg, rgba(141, 106, 175, 0.81) 22.97%, rgba(73, 12, 134, 0) 100%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
    }
    #btnBq{
        display: none;
    }
    /* .bi-movil{
        font-size: 28px;
        top: 20px;
    } */
    .bi-person{
        font-size: 15px;
    }
    .bi-cart4{
        font-size: 15px;
    }
    a.btn.my-2.my-sm-0{
        justify-content: center;
        margin: 0% 0%;
        padding: 0% 0%;
        padding-right: 1rem;
        font-size: 15px;
        
    }

    .card-body {
        text-align: center;
    }

    .btnSuscribirse{
        width: auto;
        margin-top: 0.1rem;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .form-inline .btn-input{
        align-content: center;
    }
    .titulo4{
        text-align: center;
    }

    /* .navbar-toggler{
        position: fixed;
        margin-top: 0%;
        bottom: 0%;
        top: 0%;
    } */
    
    /* .textobg{
        position:static;
        margin-top: 5px;
        margin-left: 300%;
    } */
    /* .imgSpa{
        position:static;
        margin-top: 9px;
        margin-left: 25%;
    }
    .menuStatic{
        position:fixed;
        top: 15px;
        text-decoration-color: white;
    } */


    /* 
    .imgSpa{
        position:fixed;
        margin-top: 75px;
        margin-left: 25%;
    }
    .bi-movil{
        font-size: 26px;
        position:fixed;
        margin-top: 15px;
        margin-left: 250px;
    }
    .bi-person{
        padding-left: 15px;
    }
    .menuStatic{
        position:static;
        padding-top: 0%;
        text-decoration-color: white;
    }

    .menutop{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    */



    /* .imgSpa{
        position:relative;
        top: 50px;
        left: 110px;
    }
    .bi-movil{
        position:relative;
        top: 45px;
        right: 10px;
    }
    .bi-person{
        position:relative;
        top: 45px;
        right: 15px;

    }
    .bi-cart4{
        right: 0px;
        left: px;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }
    .menuStatic{
        position:relative;
        top: 0px;
        margin-top: 0%;
        padding-top: 0%;
        text-decoration-color: white;
    }

    .menutop{
        margin: 0px 0px 0% 0%;
        padding: 0% 0% 0% 0%
    } */
    
    .prueba{
        display: block;
        position: absolute;
        right: 30px;
    }
    .prueba2{
        display: none;
    }

    .nav1{
        display: none;
    }
    .nav2{
        display: block;
    }

    /* .centro{
        /* text-align: center; */
        /* align-items: center; */
        /* align-content: center; */
        /* display: flex;
        flex-wrap: wrap; */

    /* } */ 
    .centrogrande{
        display: flexbox;
        -ms-flex-align: center;
    }
    .imgSpa{
        width: 25px;
        height: 25px;
        justify-content: center;
       

    }
    .textobg{
        font-size: 15px;
        text-align: center;
        
    }
   


}

