.titulo{
    
    font-weight: 400;
    font-size: 73px;
    line-height: 86px;
    text-align: center;
    color: #512A5F; 
}
.ancla{
    display: flex;
    justify-content: right;
}
.descripcion{
    display: flex;
    font-size: 30px;
    line-height: 30px;
    text-align: justify;
    color:  #512A5F; 
}
